@import "login.css";

.terms {
    display: flex;
}

.terms-check {
    height: 15px;
    width: 15px;
    margin-right: 0.5rem;
}

.terms-check:focus {
    outline: none;
    transition: 0.3s;
}

.terms-check,
.terms-text {
    color: var(--grey-text-color);
}

.verification-code {
    display: flex;
    align-items: center;
}

#code {
    margin-right: 0.5rem;
}

#codeSubmit {
    margin-left: 0.5rem;
    text-align: center;
}
